.about__title{
    font-size: 35px;
    /* letter-spacing: 4px; */
    letter-spacing: 2px;
    position: relative;
    /* font-family: x; */
    text-align: center !important;
    margin-bottom: 3rem !important;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.about__title::before{
  content: '';
    /* background: #da9d40; */
    background: #8000009c;
    height: 3px;
    width: 10%;
    bottom: -15%;
    left: 45%;
    position: absolute;
}
.about__description{
  font-size: 16px;
    letter-spacing: 1px;
    font-family: initial;
    margin: 0px 100px 0px 100px;
}
.about__services{
  font-size: 16px;
  letter-spacing: 1px;
  font-family: initial;
  margin: 20px 100px 0px 100px;
}
.about__quality{
  font-size: 16px;
  letter-spacing: 1px;
  font-family: initial;
  margin: 20px 100px 0px 100px;
}
.about__coverage{
  margin: 0px 0px 15px;
    /* font-family: sans-serif; */
    background: #80808024;
    padding: 5px 5px;
    border-left: 4px solid #5d5b5b;
    font-weight: bold;
    margin: 20px 100px 0px 100px;
}

.about__spacers{
  display: flex;
  justify-content: center;
}
.about__spacer{
  background: #87b3c596;
   margin: 20px 20px 0px 0px;
    height: auto;
    border-radius: 4px;
    padding: 10px 10px;
    box-shadow: 0px 9px 12px -6px grey;
}
.about-page{
  margin: 10px 20px 0px 20px;
}